description = "footer"
==
<div class="container">
    <nav class="pull-left">
        <ul>
            <li class="active">
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </nav>
    <div class="social-btns pull-right">
        <a href="#TODO"><div class="fui-facebook"></div><div class="fui-facebook"></div></a>
    </div>
    <div class="additional-links">
        The content on this website was gathered by some scrapers. Please don't hurt them.
    </div>
</div>